/__pycache__/
/.idea/
data
build
dist
release
release0714
*.zip
*.spec
*.rar
*.png
*.txt
*.exe
*.log
*.jpg
*png
*copy*
*（*）*
*.vscode*
* *.json
*_*.json
transfer_client2.py
/Database/
/files/
*client.json